/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
toplive.zip
toplive2.zip
/__required
__required.rar
public/public/storage/users/*
storage/logs/laravel.log
.env
vendor/composer/installed.php
vendor/composer/autoload_static.php
vendor/composer/installed.json
vendor/composer/autoload_classmap.php
